<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paramètre Utilisateur - <%= OrgName %></title>
    <link rel="icon" type="image/png" href="<%= OrgLogo %>">
    <link rel="stylesheet" type="text/css" href="./workspace/utils/css/user.css">
    <link rel="stylesheet" type="text/css" href="./workspace/utils/css/style.css">
    <link rel="stylesheet" type="text/css" href="./workspace/utils/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body onload="msg()">

  <div class="wrapper">
    <div class="panel__side">
      <div id="nav">
        <div class="channel__content">
          <i onclick="nav()" id="iv" class="fas fa-bars"></i>
        </div>
      </div>
     <a href="/user">  <div id="user">
        <div class="channel__content">
          <img src="<%= UserPfp %>" height="75px" width="75px" style="border-radius: 50%; margin-top:10px;">
        </div>
      </div> </a>
     <%- divorg %>
    <div id="logout">
      <div class="channel__content">
        <a href="logout">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAB6klEQVR4nO2asUoDMRjHP9BRcFJ07eDQQWq+6yQoPkRfwNGXcHXQrYiJ9AXc3Bx0sQjW4qKC+Ail0nxqF3GoXHstR7Ha1uQu13w/OCgHvSS/u/wvuQSAYRiGYRiGYcYCFVVRUSfhowqugMk3vnuAK2CsUkLpLyFpL4nywBWw33hJRzEZh6WzzpzN8sAVMFahQOpdlPqze07qC5StRZvlOQEOVQhP3zdR6UbvqdAvRfW2ZrO81MEfKhRUKCckPUW58IpS79gsL1VwRIXy5caCUHRuOhwzIyAkDEIh6WAQjpLk9n5nHnwR0MdkOGZSQMjGSWsLlW5G4VgD3wT0w/G/Dci0gBBbAsKuJZS+Wz/+WJ722tkWoPRtNCJ9TFQCJixgFIXK+xIqeuhdXz+jbK+CTwJSk4CGBAilb8xPm3XdeINtCbDzYSVDAmx0gWK5vQK+CCik0XjHXoN1L16DOHIgRFfhENvbgVBqIAsgfgKQuwBxBoClzDD9f+MgZwBxBiBnAHEGBBXKTZMZ0051wRWE1LVoBtYMP30nIkDSNbhCfsIlMOfuoAlKEyyBzaSASZbAZlrAOPsDZl7AX/sDvBDwWzh6IyAWjoPNU/Hf4BNBPBx9FDAcjl4KiO0PuEdFl90TDMMwDMMwDAOu8A278m31UzmJBwAAAABJRU5ErkJggg==">
      </a>
      </div>
</div>
</div>
    <div class="panel__main">
      <div class="panel__main-side">
        <ul id="navlinks" class="list__links">
          
          <a href="/"><li class="navlink"><i class="fas fa-home"></i> &nbsp;  Accueil</li></a>
          <a href="/chat"><li class="navlink"><i class="far fa-id-card"></i>  &nbsp; Discussion</li></a>
          <a href="/voc"><li class="navlink"><i class="fas fa-laptop-code"></i> &nbsp; Vocal</li></a>
          <a href="/agenda"><li class="navlink"><i class="fas fa-book"></i> &nbsp; Agenda (<%= eventsCount %>) </li></a>
        <a href="/email"><li class="navlink"><i class="fas fa-pen"></i> &nbsp; Email</li></a>
        </ul>
      
      </div>
      <script></script>
      <div class="panel__main-content">
        <section id="home">
        <h1>Paramètre Utilisateur</h1>
        
<div class="grid align__item">
    <div class="register">
<form action="/user" method="POST" class="form">

  <div class="form__field">
   <center> <img src="<%= UserBanner %>" style="max-height: 300px; max-width: 500px;"></center>
    <label for="photo">Bnniere :</label>
    <input type="url" id="banner" name="banner" value="<%= UserBanner %>">
        </div>
        
   <div class="form__field">
    <img src="<%= UserPfp %>" height="75px" width="75px" style="border-radius: 50%; margin-top:10px">
    <label for="pfp">Photo de profil :</label>
    <input type="url" id="pfp" name="pfp" value="<%= UserPfp %>" required>
        </div>
        
       <div class="form__field">
    <label for="nom">Nom :</label>
    <input type="text" id="nom" name="nom" value="<%= UserName %>" required>
        </div>
        
        
        <div class="form__field">
        <label for="email">Adresse e-mail :</label>
          <input type="email" id="email" name="email" placeholder="email@entreprise.com" value="<%= UserEmail %>" required>
        </div>

        <div class="form__field">
    <label for="bio">Bio :</label>
    <input type="text" id="bio" name="bio" value="<%= UserBio %>" required>
        </div>
        
        <div class="form__field">
         <label for="mdp">Nouveau mot de passe :</label>
          <input type="password" id="nmdp" name="nmdp" placeholder="••••••••••••">
        </div>
        
        <div class="form__field">
         <label for="nmdp">Mot de passe :</label>
          <input type="password" id="mdp" name="mdp" placeholder="••••••••••••" required>
        </div>

        <div class="form__field">
          <input type="submit" value="Enregistrer les modifications">
        </div>

      </form>
    </div>
  </div>
        </section>
        

          </div>
        </div>
      </div>
      <script src="./workspace/utils/js/nav.js"></script>
</body>
</html>